.mountains {
    width: 15em;
    position: relative;
}

.odin-lined {
    background-color: rgba(0, 0, 0, 0.5);
    height: 7em;
    position: absolute;
    top: 0;
    margin-top: 2em;
}

@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

.overlay-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    top: 0;
    margin-top: 1em;
    margin-left: 2em;
    font-size: 42px;
    font-family: Norse-Bold;
}

.signup {
    width: 100%;
}

form {
    border-top: black 1px solid;
    border-bottom: black 1px solid;
}

/*at 400px use query to adjust page for computer layout */